<form action="">

  <div class="columns block">
    <div class="column">
      <div class="field">
        <label class="label">Изделие</label>
        <div class="control">
          <div class="select is-medium">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Ширина</label>
        <div class="control">
          <div class="select is-medium">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Толщина</label>
        <div class="control">
          <div class="select is-medium">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Длина</label>
        <div class="control">
          <div class="select is-medium">
            <select>
              <option>Select dropdown</option>
              <option>With options</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="columns">
    <div class="column">
      <div class="field">
        <label class="label">Площадь, м</label>
        <div class="control">
          <input class="input is-medium" type="text" placeholder="Text input">
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label class="label">Объем</label>
        <div class="control">
          <input class="input is-medium" type="text" placeholder="Text input">
        </div>
      </div>
    </div>
    <div class="column">

      <div class="field">
        <label class="label">Количество досок</label>
        <div class="control">
          <input class="input is-medium" type="text" placeholder="Text input">
        </div>
      </div>

    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
</form>