<footer>
  <div class="container">
    <div class="footerRequisites">
      <div class="logo">
        <%=image_tag 'logo_footer.svg' %>
      </div>
      <div class="address">
        <p>
          ООО «ТГ-палет», УНП 291604420 </br>
          225536, Брестская обл., Столинский р-н, Видиборский с/с, д.4, </br>
          1,0 км юго-восточнее д.Видибор
        </p>
        <a href="">Показать на карте</a>
        <a href="">О нас</a>
      </div>
    </div>
    <div class="footerContacts">
      <%= link_to '+375 29 267 08 78', 'tel:+375292670878', class: 'phone' %>
      <%= link_to 'tg.pallet@gmail.com', 'mailto:tg.pallet@gmail.com', class: 'email' %>
    </div>
  </div>
</footer>