<% description @page.description %>
<% title @page.title %>
<% keywords @page.keywords %>

<div class="container">
  <br />
  <br />
  <h1 class="title">Калькулятор объемов</h1>
</div>
<hr>

<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <%= raw(@page.body) %>
      <br>
      <%= render 'partials/calculator_capacity' %>
      <br>
      <br>
      <%= render 'partials/calculator_count' %>
      <br>
    </div>
    <div class="column">
      <%= render 'partials/banner' %>
    </div>
  </div>
</div>