<div class="container">
  <br />
  <br />
  <h1 class="title">Калькулятор объемов</h1>
</div>
<hr>

<div class="container">
  <div class="columns">
    <div class="column is-four-fifths">
      <p>Выберите нужное Вам изделие и его размеры</p>
      <%= render 'partials/calculator' %>
    </div>
    <div class="column">
      <%= render 'partials/banner' %>
    </div>
  </div>
</div>