<ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs">
  <%= render_breadcrumbs builder: Breadcrumbs::MicrodataBuilder %>
</ol>

<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>