<section class="hero clear is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Что-то пошло не так :(
      </h1>
      <h2 class="subtitle">
        Если Вы видите эту ошибку, пожалуйста, обратитесь к администратору <%= link_to setting.email, "mailto:#{setting.email}" %>
      </h2>
    </div>
  </div>
</section>