@import "mixins";
@import "variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 999;
  transition: all 0.25s ease-in-out;
  @media (max-width: $screen-mobile) {
    padding: 0.8rem 0;
  }

  &.white {
    background-color: #ffffff;
    a {
      color: #333;
    }
    .headerNav {
      display: none;
    }
    .headerContacts {
      .basketContainer {
          border-left: 1px solid #000000;
        @media (max-width: $screen-desktop) {
          border-left: none
        }
        .basket {
          background: asset-url('basket-inverted.svg') no-repeat;
        }
      }
    }
  }

  .logo {
    @media (max-width: $screen-mobile) {
      max-width: 160px;
    }
  }

  &.withBg {
    background-image: asset-url('header_bg.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

  }
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      color: #ffffff;
      font-size: 1.4rem;
    }
    .phone {
      margin-left: 10px;
      @media (max-width: $screen-desktop) {
        display: none;
      }
    }
    .basketContainer {
      padding-left: 20px;
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      @media (max-width: $screen-desktop) {
        padding-left: 0;
        margin-right: 10px;
        border-left: none;
      }
      .basket {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        -webkit-background-size: cover;
        background-size: cover;
        background: asset-url('basket.svg') no-repeat;
        &:after {
          content: attr(data-items-count);
          position: absolute;
          top: -5px;
          right: -5px;
          width: 21px;
          height: 21px;
          text-align: center;
          font-size: 11px;
          font-weight: 500;
          line-height: 16px;
          color: #161d1c;
          background: #D1B57B;
          border: 3px solid #161d1c;
          border-radius: 50%;
        }
      }
    }
    button {
      @extend %button;
      margin: 0 2rem;
      @media (max-width: $screen-desktop) {
        display: none;
      }
    }
  }
  &Nav {
    margin-top: 30px;
    @media (max-width: $screen-desktop) {
      display: none;
    }
    &Menu {
      display: flex;
      list-style-type: none;
      &Item {
        position: relative;
        &:not(:last-child) {
          margin-right: 2.2rem;
        }
        > a {
          font-size: 1rem;
          color: #ffffff;
        }
        &:hover,
        > a:hover {
          .dropdownMenu {
            visibility: visible;
            z-index: 2;
            opacity: 1;
          }
        }
        .dropdownMenu {
          position: absolute;
          padding: 1rem 1.5rem;
          background-color: #fff;
          width: 400px;
          border-radius: 0 5px 5px 5px;
          transition: all .2s ease-in;
          visibility: hidden;
          z-index: -3;
          opacity: 0;
          &List {
            column-count: 2;
            li {
              a {
                display: block;
                padding: 5px 0;
                color: #363636;
              }
            }
          }
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  background-color: #0c0e0e;
  transform: translateX(0);
  transition: transform 0.45s ease-in-out;
  z-index: 9999;
  &.hidden {
    transform: translateX(-250px);
  }
  &Nav {

    &Menu {
      padding: 3rem 0;
      &Item {
        margin: 1.2rem 0;
        a {
          font-weight: 500;
          color: #ffffff;
        }
      }
    }
  }
}