<div class="modal" id="about">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="title is-2">О нас</h2>
    </div>
    <%= raw(setting.about) %>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>