<div class="modal" id="about">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="title is-2">О нас</h2>
    </div>
    <div class="box">
      <ul>
        <li>
          Мы являемся производителем пиломатериалов,
          которые реализуем. Т.е., можем предложить более конкурентноспособные цены, чем платформы,
          специализирующиеся исключительно на перепродаже.
        </li>
        <li>
          Свою продукцию мы выпиливаем на дисковой пилораме,
          которая имеет массу преимуществ над ленточной.
          Самое главное преимущество для потребителя – это
          качество конечного продукта. Дисковая пила помогает
          получать ровные пиломатериалы без волн.
        </li>
        <li>
          Мы сотрудничаем с сертифицированными
          поставщиками сырья.
        </li>
      </ul>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>