<div class="modal" id="success">
  <div class="modal-background"></div>
  <div class="modal-content has-text-centered">
    <div class="box">
      <br>
      <h1 class="title is-5">
        Спасибо, Ваша заявка отправлена!
      </h1>
      <p>Мы свяжемся с Вами в ближайшее время</p>
      <br>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

