@import "variables";

a.box:hover, a.box:focus {
  box-shadow: none;
}

.box {
  box-shadow: none;
  border-radius: 0;
}

.tile {
  p {
    font-size: 1.5rem;
    line-height: 36px;
  }
  &.is-ancestor {
    margin: 0;
    &:last-child {
      margin: 0;
    }
  }
  &.is-parent {
    padding: 0;
  }
  &.is-bordered {
    border-left: 1px solid #d8d8d8;
    > div {
      &:not(:last-child) {
        border-bottom: 1px solid #d8d8d8;
      }
    }
  }
}

.spacer {
  padding: 6rem 0;
}
.spacer-medium {
  padding: 4rem 0;
}
.spacer-small {
  padding: 2rem 0;
}

.select {
  width: 100%;
  select {
    width: 100%;
  }
}

.navbar-burger {
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.title {
  font-weight: 500;
  font-size: 1.7rem;
}

.border-bottom {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 3rem;
}

.modal {
  z-index: 999;
}

.container {
  @media (max-width: $screen-desktop) {
    padding: 0 15px;
  }
}
