@import "variables";

a.box:hover, a.box:focus {
  box-shadow: none;
}

.box {
  box-shadow: none;
  border-radius: 0;
}

.tile {
  p {
    font-size: 1.5rem;
    line-height: 36px;
  }
  &.is-ancestor {
    margin: 0;
    &:last-child {
      margin: 0;
    }
  }
  &.is-parent {
    padding: 0;
  }
  &.is-bordered {
    border-left: 1px solid #d8d8d8;
    > div {
      &:not(:last-child) {
        border-bottom: 1px solid #d8d8d8;
        @media (max-width: $screen-mobile) {
          border: none
        }
      }
    }
    @media (max-width: $screen-mobile) {
      border: none
    }
  }
}

.spacer {
  padding: 6rem 0;
}
.spacer-medium {
  padding: 4rem 0;
}
.spacer-small {
  padding: 2rem 0;
}

.select {
  width: 100%;
  select {
    width: 100%;
  }
}

.navbar-burger {
  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.title {
  font-weight: 500;
  font-size: 1.7rem;
}

.border-bottom {
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 3rem;
}

.modal {
  z-index: 999;
  &-content {
    border-radius: 6px;
    .box {
      background-color: #fff;
      color: #4a4a4a;
      display: block;
      padding: 1.25rem;
    }

  }
}

#about {
  .modal-header {
    background-image: asset-url('about_modal.png');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      color: #ffffff;
    }
  }
  ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    li {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
  }
}

#callback {
  text-align: center;
  .modal-content {
    max-width: 460px;
    .box {
      padding: 3rem;
      @media (max-width: $screen-mobile) {
        padding: 1.25rem;
      }
    }
  }
  form {
    label {
      text-align: left;
      margin: 0;
    }
  }

}
.label {
  font-weight: 400;
}

.container {
  @media (max-width: $screen-desktop) {
    padding: 0 15px;
  }
}


.input[disabled], .textarea[disabled] {
  background-color: #f9f9f9;
  color: #555555;
}