// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

//$am-theme-primary: #00689f;
//$am-theme-accent: #7dd2f7;
//$am-theme-accent-fallback: #ff7547;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_material";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}