// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";

.hero {
  background-image: url(head_banner.jpg);
  -webkit-background-size: 100%;
  background-size: 100%;
  text-align: center;
  @media (max-width: $screen-mobile) {
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-body {
    padding: 11rem 0 !important;
  }

}

.withHeader {
  padding-top: 140px;
  @media (max-width: $screen-desktop) {
    padding-top: 90px;
  }
}

.button {
  @extend %button;

  &.green {
    background-image: linear-gradient(to bottom, #6f946d, #3c5b3b);
    color: #fff;
  }
}