// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
@import "variables";

.hero {
  background-image: asset-url('head_banner_ps.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  .title {
    font-weight: bold;
    @media (max-width:$screen-mobile) {
      font-size: 2.4rem;
    }
  }
  &.clear {
    background-image: none;
  }
  @media (max-width: $screen-desktop) {
    -webkit-background-size: cover;
    background-size: cover;
  }
  &-body {
    padding: 11rem 0 !important;
  }

}

.withHeader {
  padding-top: 140px;
  @media (max-width: $screen-desktop) {
    padding-top: 90px;
  }
}

.button {
  @extend %button;

  &.green {
    background-image: linear-gradient(to bottom, #6f946d, #3c5b3b);
    color: #fff;
  }
}

#catalog {
  padding: 3rem 0;
}

.advantage {
  text-align: center;
  &Icon {
    display: block;
    margin: 0 auto 15px;
    max-width: 130px;
    width: 100%;
  }
  p {
    font-size: 1rem;
    line-height: 1.7;
  }

}

.modal#about,
.modal#map {
  .modal-content {
    overflow: visible;
  }
  .modal-close {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 999;
    @media (max-width: $screen-mobile) {
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}