// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.newsPreviewBlock {
  .type {
    margin-bottom: 10px;
    text-transform: uppercase;
    color: $gray;
    font-size: 0.8rem;
    font-weight: 500;
    &.red {
      color: $red;
    }
  }
  .title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }
}


.news {
  &List {
    &Preview {
      display: flex;
      padding: 0 0 2rem;
      &:not(:first-child) {
        padding: 2rem 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #d8d8d8;
      }
      @media (max-width: $screen-mobile) {
        display: block;
      }
        &Image {
        width: 270px;
        height: 180px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 2rem;
        img {
          display: block;
          max-width: 220px;
          width: 100%;
        }

        @media (max-width: $screen-mobile) {
          width: 100%;
          margin-right: 0;
        }
      }
      .title {
        margin-top: 15px;
      }
    }
  }
}
.newsBadges {
  .type,
  .published {
    text-transform: uppercase;
    color: $gray;
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 20px;
    &.red {
      color: $red;
    }
  }
}