// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.productCard {
  position: relative;
  display: block;
  max-width: 300px;
  border-radius: 5px;
  overflow: hidden;
  border: none;
  box-shadow: none;
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    transition: padding-bottom 0.2s ease-out;
    &:hover {
      padding-bottom: 30px;
    }
    .title,
    .subtitle {
      color: #ffffff;
    }
  }
}